
	<h1 id="main_heading">
		<a href="/calc">calculator</a>
	</h1>

	<form id="calculator_form" action="/calc" method="get" name="calc_form">
		<input type="text" name="first_number" autofocus placeholder="1st Number" />
		<input type="text" name="operator" placeholder="+,-,* or /"/>
		<input type="text" name="second_number" placeholder="2nd Number"/>
		<br>
		<button id="calculator_form_button">Calculate</button>
	</form>
		<%= 

		if @result != "NaN"
			"<p>Result is: #{@result}</p>" 
		else
			"<img id='calc_image' src='http://www.innovationsinnewspapers.com/wp/wp-content/uploads/2008/01/calculator.GIF' />"
		end

		%> 
