<!DOCTYPE html>
<html lang="en">
<head>
	<title>Calculator</title>

<style type="text/css">

body {
	font-family: Helvetica;
}

a {
	color: black;
}

a:visited {
	color: black;
}

#container {
	width:600px;
	margin: 0px auto 0px auto;
}

#main_heading {
	width:200px;
	margin: 0px auto 0px auto;
	font-weight: bold;
	font-size: 50px;
}

#calc_image {
	width:200px;
	margin: 0px auto 0px auto;
	display: block;
}

#calculator_form {
	width:400px;
	margin: 0px auto 0px auto;
	padding: 0px;
}

#calculator_form_button {
	width: 400px;
	margin: 0px auto 0px auto;
}

</style>
</head>

<body>
<div id="container">

	<%= yield %>

</div> <!-- end container -->
</body>